img{
  height: 36px;
}

.navbar-brand{
  font-family: 'Pacifico',cursive;
  font-size: 1.2em;
}



.dropdown-toggle{
  cursor: pointer;
}

.dropdown-menu a{
  color: black !important;
  font-weight: normal!important;
}

.navbar-nav{
  margin-right: 60px;
}

/* .navbar-nav li:not(:last-child){
    border-right: 2px solid skyblue;
    -webkit-border-image:
  -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
-webkit-border-image:
  -webkit-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;
-moz-border-image:
  -moz-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;
-o-border-image:
  -o-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;
border-image:
  linear-gradient(to left, white, rgba(0, 0, 0, 0)) 1 100%;
} */



/*
font-family: 'Lobster', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Bangers', cursive;
font-family: 'Arsenal', sans-serif;
font-family: 'Merienda', cursive;
*/

#top-menu a {
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}

#top-menu a:hover{
  color: #dedede;
}
