<nav class="mdc-elevation--z6 navbar navbar-expand-md navbar-dark bg-primary fixed-top ">
  <img class="img-responsive" src="assets/logo3.png">
  <a class="navbar-brand" routerLink="/">Pitch it</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="top-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ideas">Ideas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mentors">Mentors</a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>

      <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{appUser.name}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="ideas/new">Pitch an idea</a>
          <a class="dropdown-item" routerLink="my/ideas">My ideas</a>
          <a *ngIf="appUser.isMentor" class="dropdown-item" routerLink="mentor/mentoring-ideas">Mentoring ideas</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
