<div class="container">
  <div class="row">

    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Idea name</label>
          <input #title="ngModel" [(ngModel)]="idea.title" name="title" type="text" class="form-control" id="title" placeholder="idea name" required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required</div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea #description="ngModel" [(ngModel)]="idea.description" name="description" class="form-control" id="description" rows="5" placeholder="description" required></textarea>
          <div class="alert alert-danger" *ngIf="description.touched && description.invalid">The description is required</div>
        </div>

        <div class="mb-3">
          <label for="budget">Budget</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input #budget="ngModel" [(ngModel)]="idea.budget" name="budget" type="number" class="form-control" id="budget" placeholder="budget" required>
          </div>
          <div class="alert alert-danger" *ngIf="budget.touched && budget.invalid">
            The budget is required</div>
        </div>

        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" [(ngModel)]="idea.imageUrl" name="imageUrl" type="text" class="form-control" id="imageUrl" placeholder="url address of image" required>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">Image URL is required</div>
        </div>

        <button class="btn btn-primary">Save</button>

      </form>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" [src]="idea.imageUrl" alt="Card image cap" *ngIf="idea.imageUrl">
        <div class="card-body">
          <h5 class="card-title">{{idea.title}}</h5>
          <p class="card-text">{{idea.description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Budget: {{idea.budget | currency:'EUR':true }}</small>
        </div>
      </div>
    </div>

  </div>
</div>
