    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img id="imglogo" class="img-responsive img-fluid" src="assets/logo3.png">
        <h1 id="logo">Pitch it</h1>
          <br><br>
        <h1 class="display-3">It all starts with an idea!</h1>
        <p>This platform is dedicated to people with good ideas that have no background in entreprenourship or buisiness that want to see if their idea is doable, but also to experienced people who are looking for support, help and guidance.</p>
        <p><a class="btn btn-primary btn-lg" href="#more_details" role="button">Learn more »</a></p>
      </div>
    </div>

    <hr>

    <div class="container" id="what_can_you_do">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 d-flex flex-column card-body">
          <h2>Post your ideas</h2>
          <p>You came out with a great idea and looking for community approvel or help?</p>
          <a class="align-self-start btn btn-info mt-auto" routerLink="ideas/new" role="button">Pitch idea! »</a>
        </div>
        <div class="col-md-4 d-flex flex-column card-body">
          <h2>Need guidance?</h2>
          <p>Are you looking for a great leader that can help you with your idea?</p>
          <a class="align-self-start btn btn-info mt-auto" routerLink="mentors" role="button">Search mentors »</a>
       </div>
        <div class="col-md-4 d-flex flex-column card-body">
          <h2>Great ideas!</h2>
          <p>Are you a person who want to help athor people change the world with their ideas? See if you can help!</p>
          <a class="align-self-start btn btn-info mt-auto" routerLink="ideas" role="button">Browser ideas »</a>
        </div>
      </div>

    </div>

    <hr>

      <div class="jumbotron" id="more_details">
        <div class="container">
          <h1 class="display-3">How it`s working?</h1>
          <p>It can`t be easier! You came with an idea, you pitch it, community validate it throught votes and if your idea is good you are ready to put in practice your idea.</p>
          <img class="img-responsive img-fluid" src="assets/how_it_works_image.png">
        </div>
      </div>

      <hr>

      <div class="container" >
        <!-- Example row of columns -->
        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-6">
            <h2>Not have an account?</h2>
            <p>Register right now and see all the cool stuff you can do!</p>
            <p><a class="btn btn-info" href="#" role="button">Register »</a></p>
          </div>
          <!-- <div class="col-md-2"></div> -->
          <div class="col-md-6">
            <h2>Have an account allready?</h2>
            <p>Great! So you allready know how cool this platform is! </p>
            <p><a class="btn btn-info" routerLink="login" role="button">Log in »</a></p>
         </div>
         <!-- <div class="col-md-1"></div> -->
       </div>

    </div> <!-- /container -->

     <hr>
    <footer>
      <p>© Pitch it 2018</p>
    </footer>
