/* .card ul li.nav-item{
  padding: 0px;
  background-color:#fafbfc ;
  margin: 0px;
} */

.nav-link{
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  color: #2e3d49;
}
.card {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.card-header{
  padding-left:0px;
  padding-right: 0px;
  padding-top: 0px;
}

.card-header .nav-tabs{
  margin-left: 0px;
  margin-right: 0px;
}

.card-header .nav-item{
  padding-left: 0px;
  padding-right: 0px;
}

.btn-light{
  border: 1px solid #dbe2e8;
}

.card-body{
  margin-left: auto;
  margin-right: auto;
}
